[Unit]
Description=AvP Mud

[Install]
WantedBy=multi-user.target

[Service]
User=avpmud
Group=avpmud
ExecStart=/opt/avp-mud/src/swreality 5656
WorkingDirectory=/opt/avp-mud/area
Restart=on-failure
WatchdogSec=30s
