[Unit]
Description=AvP Mud

[Install]
WantedBy=multi-user.target

[Service]
User=avpmud
Group=avpmud
ExecStart=/opt/avp-mud/src/avp 7000
WorkingDirectory=/opt/avp-mud/area
Restart=alwyas