version: '3'
services:
  avp_mud:
    stdin_open: true
    tty: true
    build: .
    environment:
      - NOGDB=$NOGDB
      - VALGRIND=$VALGRIND
      - GDBSERVER=$GDBSERVER
    security_opt:
      - seccomp:unconfined
    ports:
      - '7676:7676'
      - '5555:5555'
    networks:
      - mud_network
    volumes:
      - ./area:/opt/avp-mud/area
      - ./arena:/opt/avp-mud/arena
      - ./boards:/opt/avp-mud/boards
      - ./bots:/opt/avp-mud/bots
      - ./building:/opt/avp-mud/building
      - ./gods:/opt/avp-mud/gods
      - ./planets:/opt/avp-mud/planets
      - ./report:/opt/avp-mud/report
      - ./save_eq:/opt/avp-mud/save_eq
      - ./space:/opt/avp-mud/space
      - ./stats:/opt/avp-mud/stats
      - ./system:/opt/avp-mud/system
      - ./vehicle:/opt/avp-mud/vehicle
      - ./webpage:/opt/avp-mud/webpage
      - ./player:/opt/avp-mud/player
      - ./backtraces:/opt/avp-mud/backtraces
      - ./corpses:/opt/avp-mud/corpses
      - ./log:/opt/avp-mud/log

  avp_mosquitto:
    image: eclipse-mosquitto:latest
    container_name: avp_mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
    restart: unless-stopped
    networks:
      - mud_network
networks:
  mud_network:
    driver: bridge

